div[class] {
  display: inline-block;
  width: 470px;
  height: 210px !important;
  color: yellow;
  margin: 20px;
  filter: url(#round);
}

.hexagone {
  content: "";
  display: block;
  background: yellow;
  clip-path: polygon(0% 16px, 100% 0%, 100% 100%, 16px 100%);
  padding: 42px;
}
h1{
  font-size: 34px;
  color: white;
}
p{
  color: white;
  font-size: 17px;
}